In [215]:
import pandas as pd
from datetime import datetime

arquivo_csv = './samsunghealth_daniel.frogel_20240712095226/com.samsung.shealth.activity.day_summary.20240712095226.csv'

df = pd.read_csv(arquivo_csv, usecols=[6,12])

In [216]:
df.reset_index(drop=True, inplace=True)
df

      active_time              create_time
0               0  2018-10-09 00:12:29.561
1               0  2018-10-09 00:12:30.288
2               0  2018-10-09 00:12:30.488
3               0  2018-10-09 00:12:30.618
4               0  2018-10-09 00:12:30.731
...           ...                      ...
2127      4601327  2024-07-08 03:00:00.583
2128            0  2024-07-09 04:24:41.432
2129      5778000  2024-07-10 03:00:01.044
2130      4569807  2024-07-11 03:02:15.912
2131            0  2024-07-12 03:12:30.809

[2132 rows x 2 columns]

In [218]:
df_datas =  df['create_time'].apply(lambda x: x[0:10]).to_frame()
df_datas

      active_time              create_time
0               0  2018-10-09 00:12:29.561
1               0  2018-10-09 00:12:30.288
2               0  2018-10-09 00:12:30.488
3               0  2018-10-09 00:12:30.618
4               0  2018-10-09 00:12:30.731
...           ...                      ...
2127      4601327  2024-07-08 03:00:00.583
2128            0  2024-07-09 04:24:41.432
2129      5778000  2024-07-10 03:00:01.044
2130      4569807  2024-07-11 03:02:15.912
2131            0  2024-07-12 03:12:30.809

[2132 rows x 2 columns]

In [196]:
df_datas = pd.to_datetime(df['create_time'], format='%Y-%m-%d', errors='coerce')
df_datas

0      2018-10-09
1      2018-10-09
2      2018-10-09
3      2018-10-09
4      2018-10-09
          ...
2127   2024-07-08
2128   2024-07-09
2129   2024-07-10
2130   2024-07-11
2131   2024-07-12
Name: create_time, Length: 2132, dtype: datetime64[ns]

In [197]:
df_datas = pd.to_datetime(df_datas, format='%d-%m-%Y', yearfirst=True).to_frame()
df_datas

     create_time
0     2018-10-09
1     2018-10-09
2     2018-10-09
3     2018-10-09
4     2018-10-09
...          ...
2127  2024-07-08
2128  2024-07-09
2129  2024-07-10
2130  2024-07-11
2131  2024-07-12

[2132 rows x 1 columns]

In [198]:
df_datas.drop_duplicates(inplace=True)

In [199]:
df_datas

     create_time
0     2018-10-09
29    2018-10-10
30    2018-10-11
31    2018-10-12
32    2018-10-13
...          ...
2127  2024-07-08
2128  2024-07-09
2129  2024-07-10
2130  2024-07-11
2131  2024-07-12

[2104 rows x 1 columns]

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2132 entries, 0 to 2131
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   create_time  2132 non-null   object
dtypes: object(1)
memory usage: 16.8+ KB

In [201]:
df_datas = pd.to_datetime(df_datas['create_time'], dayfirst=True)
df_datas

0      2018-10-09
29     2018-10-10
30     2018-10-11
31     2018-10-12
32     2018-10-13
          ...
2127   2024-07-08
2128   2024-07-09
2129   2024-07-10
2130   2024-07-11
2131   2024-07-12
Name: create_time, Length: 2104, dtype: datetime64[ns]

In [202]:
df_datas = pd.DataFrame(df_datas)
df_datas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2104 entries, 0 to 2131
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   create_time  2104 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 32.9 KB

In [207]:
df_datas.query('create_time >= "2019-01-01" & create_time <= "2019-12-31"')

    create_time
112  2019-01-01
113  2019-01-02
114  2019-01-03
115  2019-01-04
116  2019-01-05
..          ...
472  2019-12-27
473  2019-12-28
474  2019-12-29
475  2019-12-30
476  2019-12-31

[365 rows x 1 columns]